@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@font-face {
    font-family: "logo";
    src: url('../imagens/fonts/13_Misa.TTF') format('truetype');
}
@font-face {
    font-family: "nome";
    src: url(../imagens/fonts/UAV-OSD-Sans-Mono.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}:root{
    --cor01: #038C33;
    --cor02: #77F296;
    --cor03: #0D0D0D;
    --cor04: #141414;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(to bottom, transparent 0%,  #0D0D0D 60%), url("/imagens/green.gif") ;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    position: relative;    
}
header{
    padding: 20px 0;
    margin: 0px;
    
}
.caixa{   
    margin: 0 auto;
    position: relative;
    display: flex;
    min-width: 400px;
    max-width:940px;
    
}
nav{
    top: 20px;
    font-size: 20px;
    position: absolute;
    justify-content: space-between;
    right: 0;
    height: 100vh;
    
}
 nav a {
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    
}nav li{
    display: inline-block;
    margin: 0 0 0 15px;
    margin-right: 10px;
    
}
nav li:hover{
    transform: translate(-3px, -5px);
    transition: .2s;
    border-bottom: 2px solid  #038C33; 
}

nav ul{
    list-style: none;
    
}
.caixa a#logo{
    color:#038C33;
    font-family: 'logo',Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 5px;
    font-size: 2em;
    text-align: left;
    text-decoration: none;
}
a#logo:hover{
    color:#00ff0d;
    transform: translate(-3px, -5px);
    transition: .2s;
}
section#home{
    display: flex;
    color: white;
    height: 100vh;
    position: relative;
    margin-left: 270px;
   
    
}
ul#apresentacao{
    top: 150px;
    position: absolute;
    min-width: 400px;
    max-width: 400px;
    height: 100vh;
    float: left;
    
}
section#home #apresentacao h1{
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 5px;
    font-size: 2em;
    color: white;
    text-shadow: #000 5px -1px;
    text-align: justify;
    
}
section#home #apresentacao h1#nome{
    font-family: 'nome',Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 5px;
    color: #038C33;
    text-shadow: #000 20px;
    
    
}#apresentacao h1#nome::after{
    content: '|';
    text-shadow: #000 20px;
    margin-left: 5px;
    animation: blink 0.7s infinite;
}
div#redes a{
    margin: 20px;
    align-items: center;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.541);
    border-radius: 10px;
    padding: 13px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif
}div#redes a:hover{
    background-color: rgba(128, 128, 128, 0.116);

}
div#redes img{
    max-width: 20px;
    
}
div#redes span{
    color: white;
    padding-left: 3px;
}
.container{
    opacity: 0;
    transition: opacity 1s linear;
}.container-off{
    opacity: 1;
}
section#sobre {
    background-color: #0D0D0D;
    color: #038C33;
    height: 100%;
    padding: 10px;
    background-image: linear-gradient(to bottom, transparent 0%, black 60%);
    margin-bottom: 20px;
    margin-top: 20px;
}
#sobre h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    font-family: 'nome',Arial, Helvetica, sans-serif;
}
#sobre div#eu{
    
    background-image: transparent;
    color: white;
    border-radius: 10px;
    min-width: 400px;
    max-width: 1000px;
    min-height: 250px;
    max-height: 1000px;
    margin: auto;
    font-size: 2em;
    text-align: justify;
    padding: 10px;
    
}
#sobre div#eu div#foto{
    float: left;
    padding: 10px;
    
}div#foto img{
    border-radius: 5px;
    max-width: 400px;
}
#sobre div#eu div#texto p{
    padding: 14px;
    text-align: justify;
}div#eu li{
    list-style: none;
    margin-left: 10px;
    
}
div#eu li a{
    text-decoration: none;
    border: 1px solid#038C33;
    border-radius: 8px;
    color: white;
    padding: 5px;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif
    
}div#eu li a:hover{
    background-color: rgba(128, 128, 128, 0.082);
}
div#eu li svg{
    width: 27px;
}
section#projetos{
    margin-top: 200px;
    height: 100vh;
    padding: 10px;
    
}
section#projetos div#geral{
    width: 100%;
    height: 100vh;
    
}
#projetos h1{
    color: var(--cor01);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    font-family: 'nome',Arial, Helvetica, sans-serif;
}
#projetos .caixas{
    width: 100%;
    text-align: center;
   
}#projetos .caixas div{
    width: 300px;
    background-color: #141414;
    border-radius: 10px;
    margin: 10px 20px;
    display: inline-block;
    height: 420px;
    color: rgba(255, 255, 255, 0.658);
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif
    
}
#projetos .caixas div img{
    width: 300px;
    border-radius: 10px;
    height: 250px;
    background-color:  #141414;
}
#projetos .caixas div a{
    color: #038C33;
    bottom: 0;
    text-decoration: none;
    
}
#projetos .caixas div a:hover{
    color: #00ff0d;
}
#projetos .caixas div:hover{
    transform: translate(-3px, -5px);
    transition: .3s;
}
#projetos h2{
    color: var(--cor01); 
    text-align: center; 
    margin-top: 20px; 
    font-size: 20px;
}
#projetos h2#tittle-tech{
    font-family: 'nome',Arial, Helvetica, sans-serif;
}
#projetos div#tecnologias{
    margin: auto;
    color: white;
    max-height: 20px;
    position: relative;
    text-align: center;
    
}
div#tecnologias ul{
    margin-top: 20px;
    text-align: center;
}
div#tecnologias li{
    margin: 3px 6px;
    display: inline-block;
    background-color: #141414;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
    width: 100px;
}
div#tecnologias li:hover{
    transform: translate(-3px, -5px);
    transition: .3s;
}
div#tecnologias li p{
    text-align: start;
}
div#tecnologias li img{
    width: 80px;
}
section#contatos{
    padding-top: 10px;
    padding-bottom: 0;
    min-height: 50px;
    max-height: 2000px;
    margin: auto;
    background-color: #000; 
    
}#contatos h1{
    color: var(--cor01);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    font-family: 'nome',Arial, Helvetica, sans-serif;
}
#contatos div.comunicacao{
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: auto;
    min-width: 400px;
    max-width: 900px;
}.comunicacao div#lista{
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    align-items: center;
}
div#lista p{
    color: #038C33;
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
}
div#lista li{
    list-style: none;
    text-align: left;
}svg{
    color: #038C33;
    max-width: 25px;
}   
.comunicacao div#cartoon{
    padding-bottom: 0px;
    display: inline-block;
    margin: 0;
}
div#cartoon img{
    width: 400px;
    padding: 0;
    margin: 0;
}
footer{
    text-align: center;
    background-color: #038C33 ;
    font-size: 12px;
    padding: 9px;
    bottom: 0;
    color:#000000;
    font-family: 'nome',Arial, Helvetica, sans-serif;
}footer a{
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar-track{
    background-color:rgba(65, 65, 65, 0.753);
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: #038C33;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    section#home{
        margin-left: 20px;
    }
    section#projetos{
        margin-bottom: 1000px;
    }
    #contatos div.comunicacao{
        display: inline-block;
        
        
    }
    .comunicacao div#lista{
        color: white;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .comunicacao div#cartoon{
        padding: 10px;
        display: flex;
        float: left;
    }
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}